body {
  font-family: 'Roboto', sans-serif;
  background-image: url('https://content.codecademy.com/courses/learn-css-selectors-visual-rules/hypnotize_bg.png');
  background-color: rgb(64, 63, 63) !important;
}

figure img {
  height: 20vmax;
  width: 20vmax;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
}

div>h2 {
  font-size: 2vmax;

}

/*header*/
header {
  background-color: rgb(23, 30, 93);
  width: 100% !important;
  height: 7em;
  z-index: 1;
  transition: all 0.2s ease-in-out;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

/* add space for fixed header when it's fixed to top */
header+.content {
  margin-top: 8rem;
}

.bar1,
.bar2,
.bar3 {
  background-color: hsl(0, 0%, 100%) !important;
  width: 25px;
  height: 2px;
  margin: 6px 0;
  color: hsl(0, 0%, 100%);

}

.navContainer {
  /*navContainer in  js*/
  align-items: center;
  width: fit-content;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 3px;
  background-color: #f3f3f3;
}

nav a {
  margin-left: 2em;
}

.menuBar-button {
  background-color: transparent;
  margin: 10px 0px 0px 20px !important;
  opacity: 0.9;
  border: none;

}

.closeMenuBarButton {
  font-size: 2em;
  font-weight: 900;
  background-color: transparent;
  height: fit-content;
  width: fit-content;
  opacity: 0.9;
  margin-left: 198px;
}

header div h1 {
  color: #f3f3f3;
  font-family: Ranchers;
  letter-spacing: 0.2em;
  font-weight: bold;
  font-size: 20px;
  margin: 5px !important;
  padding: 0px !important;
}

header>.a-div {
  width: fit-content;
  margin: -32px 40px;
  font-family: serif;

}


/**********Section***************/
section {
  /* background-color: rgb(85, 82, 82); */
  align-items: center;
  margin-top: 120px;
}


/*--------------------new-------------------------------------*/
h3 {
  display: flex;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('images/jumpstronTitleBackground.png');
  background-size: cover;
  opacity: 0.8;
  color: #ffffff;
  height: 20em;
  margin-top: 100px;
}

.jumbotron h1 {
  font-weight: 1000;
  margin: 0;
  color: #FFFFFF !important;
  background-color: rgba(41, 40, 39, 0.5);
}

section .row figure img {
  margin: 0 0 5px;
  width: 90%;

}

.col-sm-6 {
  margin-bottom: 2em;
}

figure img {
  width: 100%;
  height: auto;
  margin-bottom: 0px;
}

figure {
  margin-bottom: 0px;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer .row {
  display: flex;
  align-items: center;
}
