body,
.navContainer{
    font-family: arial;
    background-color: #d2cece !important;
}



/*header*/

    header  {
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: rgb(21, 21, 20) !important;
    }
    .header-class {
        height: 590px;
        display: flex;
        /* background-color: #466995; */
        width: 100% !important;
        height: 9.2rem;
        z-index: 1;

        transition: all 0.2s ease-in-out;
        
    } 

    header.header-class { 
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }

    /* add space for fixed header when it's fixed to top */
    header.header-class + .content{
        margin-top:8rem;
    }

    .bar1, .bar2, .bar3 {
        background-color: hsl(0, 0%, 100%) ;
        width: 35px;
        height: 5px;
        margin: 6px 0;
    }
    
    .navContainer {
        /*navContainer in  js*/
        align-items: center;
        width: 240px;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 3px;
        border: 1px solid #f5f1f1;
    }
    nav a {   
        margin-left: 10px;
    }

    .menuBar-button {
        background-color: transparent;
        height: fit-content;
        margin: 20px !important;
        opacity: 0.9;
    }
    .closeMenuBarButton {

        font-size: 2em;
        font-weight: 900;
        background-color: transparent;
        height: fit-content;
        opacity: 0.9;
        margin-left: 198px;
    }

    header h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: #f5f1f1;
    }
    
  

/*main*/

img {
    height: 350px;
    width: 500px;   
}
h3  {
    padding-top: 10px;
    font-weight: bold !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

section {
    margin-top: 100px;
}

p {
    margin-left: 40px;
    text-align: justify;
    font-size: 20px;
    width: 500px;
}
.divContained-Img-Description {
    height: fit-content;
    text-align: center;
    position: sticky;
    display: grid;
    grid-template-columns: 500px;
    column-count: 2;
    padding-left: 100px;
    border: 1px solid #a8adae;
    /* background-color: rgb(145, 141, 141); */
}


  /*footer*/
  footer {
    display: flex;
    margin-top: 50px;
   }
   footer.row {
    align-items: center;
   }
   .social-media img {
    height: 1.5em;
   }

