body {
    font-family: 'Roboto', sans-serif;
    /* background-color: rgb(64, 63, 63) !important; */
}

figure img {
    height: 20vmax;
    width: 20vmax;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
}






/*header*/
header {
    height: 590px;
    background-color: rgb(23, 30, 93) !important;
    width: 100% !important;
    height: 9.2rem;
    z-index: 1;
    transition: all 0.2s ease-in-out;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

/* add space for fixed header when it's fixed to top */
header+.content {
    margin-top: 8rem;
}

.bar1,
.bar2,
.bar3 {
    background-color: hsl(0, 0%, 100%) !important;
    width: 25px;
    height: 2px;
    margin: 6px 0;
    color: hsl(0, 0%, 100%);

}

.navContainer {
    /*navContainer in  js*/
      width: fit-content;
    align-items: center;
    width: 240px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 3px;
    background-color: #f3f3f3;

}

nav a {
    margin-left: 10px;
}

.menuBar-button {
    background-color: transparent;
    margin: 10px 0px 0px 0px !important;
    opacity: 0.9;
    border: none;

}

.closeMenuBarButton {
    font-size: 2em;
    font-weight: 900;
    background-color: transparent;
    height: fit-content;
    opacity: 0.9;
    margin-left: 198px;
}



header div h1 {
    color: #f3f3f3;
    font-family: Ranchers;
    letter-spacing: 0.2em;
    font-weight: bold;
    font-size: 20px;
    margin: 0px !important;
    padding: 0px !important;
}

header>.a-div {
    width: fit-content;
    margin: -32px 40px;
    font-family: serif;

}



div>h2 {
    font-size: 2vmax;
}

/*main*/

.thumbnail-img {
    height: 350px;
    width: 500px;
    
}

h3 {
    padding-top: 10px;
    font-weight: bold !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.content {
    margin-top: 100px;
    width: fit-content;
    margin: auto;
}

p {
    margin-left: 40px;
    text-align: justify;
    font-size: 20px;
    width: 500px;
}

.divContained-Img-Description {
    height: fit-content;
    width: fit-content;
    justify-content: center;
    position: sticky;
    display: grid;
    grid-template-columns: 500px;
    column-count: 2;
    padding-left: auto;
    /* border: 1px solid #a8adae; */
}







@media (min-width: 210PX) and (max-width: 700PX) {
    .divContained-Img-Description {
        /* background-color: rgb(90, 90, 84); */
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1em;
        

    }
}




@media (min-width: 210PX) and (max-width: 700PX) {
    .divContained-Img-Description p {
        /* background-color: rgb(118, 118, 100); */
        width: fit-content;
        overflow: scroll;

    }
}


/*footer*/
.col-sm-4

/*footer paragraph*/
    {
    margin: 25px 20px 15px;
    min-width: 60px;
    padding: 1px;
}

.first-footer-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-sm-1 img {
    min-width: 1.2em;
    min-height: 1.2em ;
}




@media (min-width: 210PX) and (max-width: 700px) {
    .col-sm-8 {
        display: flex;
        align-items: center;
        justify-content: center;
        height: fit-content;
        overflow: scroll;

    }
}

@media (min-width: 210PX) and (max-width: 700px) {
    .col-sm-4 {
        display: flex;
        height: fit-content;
        width: fit-content;
        overflow: scroll;

    }
}


@media (min-width: 210PX) and (max-width: 700px) {
    footer.first-footer-div {
        display: flex;
        align-items: center;
        justify-content: center;

    }
}

@media (min-width: 210PX) and (max-width: 2000px) {
    footer {
        display: flex;
        align-items: center;
        justify-content: center;

    }
}