/*General styles*/
html {
  font-size: 20px;
}

body {
  font-family: 'Roboto', sans-serif;
  /*Ces couleurs ne sont pas distrayantes et
   fournissent une toile propre pour le contenu.*/
  background-color: rgb(211, 211, 211);
  height: 90rem;
}


/*header*/
header {
  background-color: rgb(23, 30, 93);
  width: 100%;
  height: 5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* transition: all 0.2s ease-in-out; */
  display: flex;
}

.categories-nav {
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: end;
  background-color: rebeccapurple;

}

.categories-ul {
  display: flex;
  align-items: center;
  margin-right: 4rem;
  margin-left: auto;
}

.categories-ul li a {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.logo-zanaRecords:hover,
.categories-ul li a:hover {
  color: #cfcbcb;
}

.categories-ul li {
  list-style: none;
  margin-left: 1rem;
}

/* add space for fixed header when it's fixed to top */
/* header+.content {
  margin-top: 8rem;
} */


.nav-div {
  background-color: rgb(211, 211, 211);
  position: fixed;
}

.menu-bar {
  margin-right: 0.4rem;
  margin-left: 0.4rem;
}

.bar1,
.bar2,
.bar3 {
  background-color: hsl(0, 0%, 100%);
  width: 1.6rem;
  height: 0.17rem;
  margin: 6px 0;

}

.logo-zanaRecords {
  font-size: 1.4rem;
}


.a-linkTo-homePage {
  text-decoration: none;
}

nav a {
  margin-left: 2em;
}

.menuBar-button {
  background-color: transparent;
  opacity: 0.9;
  border: none;
  cursor: pointer;
}

.menu-bar:hover {
  background-color: #a8a4a4;
}


header .button-menu-holder-container {
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: space-between;
}

header div h1 {
  color: #f3f3f3;
  font-family: Ranchers;
  letter-spacing: 0.2em;
  font-weight: bold;
  font-size: 20px;
}




/**********Section TITLE***************/

.inventors-title {
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-wrap: wrap; */
  background-image: url('images/jumpstronTitleBackground.png');
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  height: 20rem;
}

.inventors-title h1 {
  font-size: 2.5rem;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 1000;
  font-variant: small-caps;
  font-style: italic;
}

/*--------------------content-------------------------------------*/

.content {
  display: flex;
  align-items: center;
  justify-content: center;

}

article {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.profile-container {
  /* background-color: gold; */
  height: 95%;
  width: 95%;
  background-color: rgbA(253, 252, 252, 0.1);

}

.Inventor-img {
  /* background-color: rgb(23, 30, 93); */
  height: 90%;
  width: 90%;
  margin-left: 20px;
  padding-top: 1.2rem;
}

.profile-container figure img {
  height: 80%;
  width: 80%;
  display: flex;
  margin: auto;
}

h3,
a {}

figcaption {
  /* background-color: blue !important; */
  display: flex;
  justify-content: center;
}

figcaption h3 {
  /* background-color: blue !important; */
  display: flex;
  justify-content: center;
}


/*inventors inside*/
.inventor-container {
  display: flex;

}

.divContained-Img-Description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-y: scroll;
}

.divContained-Img-Description div {
  justify-content: center;
  margin-bottom: 2rem;

}

.divContained-Img-Description h2 {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  font-size: 2rem;

}

.divContained-Img-Description img {
  width: 50%;
  display: flex;
  margin: auto;
}

.divContained-Img-Description p {
  font-size: 1.2rem;
  width: 50%;
  margin: auto;

}

/*js styles*/

.menu-Inventor-container {
  background-color: rgb(211, 211, 211);
}

.BackCloseMenuBarButton {
  border-bottom: 0.1rem solid #a54242;
  height: fit-content;
}


.closeMenuBarButton {
  font-size: 2rem;
  font-weight: 900;
  background-color: transparent;
  height: fit-content;
  width: fit-content;

  opacity: 0.9;
  margin-left: 180px;
  cursor: pointer;
  border: none;
  border: 1px solid #a8a4a4;
}

.nav-Mother-Container {
  /*navContainer in  js*/
  align-items: center;
  width: fit-content;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 3px;
}

.inventorListNav {
  background-color: rgb(211, 211, 211);
}

.inventorListNav a {
  color: #000;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

.backMenuBarButton img {
  width: 2rem;
  background-color: transparent;
  cursor: pointer;
}

.nav-Mother-Container ul {
  display: flex;
  cursor: pointer;
}

.nav-Mother-Container ul:hover {
  color: rgb(52, 51, 51);
}

.nav-Mother-Container h3 {
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
}

/*****Footer*******/
footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;

  background-color: rgb(23, 30, 93);
  color: white;
  display: grid;
  grid-template-columns: 1fr;
}

.contact-container {
  display: flex;
  align-items: center;
  /* border-color: rgb(65, 62, 62); */
}

.contact-container p {
  display: flex;
  margin-left: 4rem;
}

.img-contact-container {
  display: flex;
  justify-content: end;
  margin-left: auto;
}

.img-contact-container figure img {
  width: 2rem;
  width: 2rem;
}




/*media queries*/

@media only screen and (min-width: 412px) and (max-width: 723px) {
  .inventors-title {
    margin-top: 20%;

    height: 10rem;
  }
}

@media only screen and (min-width: 412px) and (max-width: 723px) {
  .inventors-title h1 {
    width: 10rem;
    font-size: 1rem;
    display: flex;
    text-align: center;

  }
}


@media only screen and (min-width: 412px) and (max-width: 723px) {
  figcaption h3 {
    font-size: 0.4rem;
  }
}
